html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    color: #ffffff;
    /* text-decoration: none; */
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #B31325;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

main {
    width: calc(100% - 300px);
    display: inline-block;
    float: right;
    background: #111;
    height: 100%;
}

#downloadCenter {
    width: 100%;
    height: 75px;
    background: #000;
    color: #FFF;
    font-size: 1.5em;
    font-family: sans-serif;
    line-height: 75px;
    box-shadow: #000 5px 0px 15px;
}

#downloadCenter h1 {
    padding-left: 150px;
}

#main {
    width: 90%;
    margin: 2% 2%;
    height: auto;
    background: #000;
    border-radius: 1%;
    color: #FFF;
    font-family: sans-serif;
    text-align: center;
    padding: 1.5% 3%;
}

#main h1 {
    font-size: 1.3em;
    margin: 10px 0px;
}

#main h2 {
    font-size: 1.1em;
    font-weight: 600;
}

#main h3 {
    line-height: 1.2em;
    font-size: 0.9em;
    color: #AAA;
    margin: 25px 0px;
}

#upper img {
    width: 150px;
}

#upper {
    border-bottom: 1px solid #111;
    padding-bottom: 30px;
}

#lower {
    margin-top: 20px;
}

#lower ul {
    margin: 30px 0px 0px 0px;
}

#lower ul li {
    display: inline-block;
    background: #111;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0px 5px;
    transition: 200ms;
}

body {
    background: #111;
    color: #ffffff;
}

#lower ul li:hover {
    background: #000;
}

#lower ul li img {
    width: 25px;
    margin-top: 15px;
}

#developedBy {
    position: fixed;
    background: #000;
    font-family: sans-serif;
    bottom: 20px;
    right: 20px;
    color: #B31325;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    padding: 20px 20px;
}

#developedBy h1,
h3 {
    clear: both;
    margin: 2px 5px;
}

#developedBy h4 {}

#close {
    background: #B31325;
    color: #FFF;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    float: right;
    cursor: pointer;
}

#navActivator {
    display: none;
}

#footer {
    bottom: 20px;
    margin-left: 2%;
    width: 96%;
    color: #B31325;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0px;
    background: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer a {
    line-height: 1.5em;
    color: #FFF;
}

#popup {
    background: #111111;
    color: #FFF;
    width: 400px;
    height: 200px;
    position: fixed;
    z-index: 2;
    margin-left: calc(50vw - 150px);
    margin-top: 30vh;
    font-family: sans-serif;
    font-size: 1.3em;
}

#popup h1{
    background: #B31325;
    transform: rotate(90deg);
    display: inline-block;
    height: 50px;
    width: 40px;
    text-align: center;
    line-height: 50px;
    margin-left: calc(400px - 50px);
    cursor: pointer;
}

#popup h2{
    text-align: center;
    margin-top: 40px;
}

.dispNone{
    display: none !important;
}

#popup h2 a{
    color: #B31325;
}

@media only screen and (min-width: 300px) and (max-width: 900px) and (orientation: portrait) {
    main {
        width: 100%;
        display: inline-block;
        float: right;
        background: #111;
        height: 100%;
    }
    #downloadCenter {
        width: 100%;
        height: 75px;
        background: #000;
        color: #FFF;
        font-size: 1.5em;
        font-family: sans-serif;
        line-height: 75px;
        box-shadow: #000 5px 0px 15px;
    }
    #downloadCenter h1 {
        padding-left: 150px;
        display: none;
    }
    #main {
        width: 90%;
        margin: 2% 2%;
        height: auto;
        background: #000;
        border-radius: 1%;
        color: #FFF;
        font-family: sans-serif;
        text-align: center;
        padding: 1.5% 3%;
    }
    #main h1 {
        font-size: 1.3em;
        margin: 10px 0px;
    }
    #main h2 {
        font-size: 1.1em;
        font-weight: 600;
    }
    #main h3 {
        line-height: 1.2em;
        font-size: 0.9em;
        color: #AAA;
        margin: 25px 0px;
    }
    #upper img {
        width: 150px;
    }
    #upper {
        border-bottom: 1px solid #111;
        padding-bottom: 30px;
    }
    #lower {
        margin-top: 20px;
    }
    #lower ul {
        margin: 30px 0px 0px 0px;
    }
    #lower ul li {
        display: inline-block;
        background: #111;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin: 0px 5px;
        transition: 200ms;
    }
    body {
        background: #111;
    }
    #lower ul li:hover {
        background: #000;
    }
    #lower ul li img {
        width: 25px;
        margin-top: 15px;
    }
    #developedBy {
        display: none;
    }
    
    #footer {
    bottom: 20px;
    margin-left: 2%;
    width: 96%;
    color: #B31325;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0px;
    background: #000;
    position: relative;
    margin-top: 40px;
    margin-bottom:20px
}
    #popup{
        width: 90%;
        margin-left: 5%;
    }

    #popup h1{
        margin-left: calc(100% - 50px);
    }
}

@media only screen and (min-width: 300px) and (max-width: 900px) and (orientation: landscape) {
    main {
        width: 100%;
        display: inline-block;
        float: right;
        background: #111;
        height: 100%;
    }
    #downloadCenter {
        width: 100%;
        height: 75px;
        background: #000;
        color: #FFF;
        font-size: 1.5em;
        font-family: sans-serif;
        line-height: 75px;
        box-shadow: #000 5px 0px 15px;
    }
    #downloadCenter h1 {
        padding-left: 150px;
        display: none;
    }
    #main {
        width: 90%;
        margin: 2% 2%;
        height: auto;
        background: #000;
        border-radius: 1%;
        color: #FFF;
        font-family: sans-serif;
        text-align: center;
        padding: 1.5% 3%;
    }
    #main h1 {
        font-size: 1.3em;
        margin: 10px 0px;
    }
    #main h2 {
        font-size: 1.1em;
        font-weight: 600;
    }
    #main h3 {
        line-height: 1.2em;
        font-size: 0.9em;
        color: #AAA;
        margin: 25px 0px;
    }
    #upper img {
        width: 150px;
    }
    #upper {
        border-bottom: 1px solid #111;
        padding-bottom: 30px;
    }
    #lower {
        margin-top: 20px;
    }
    #lower ul {
        margin: 30px 0px 0px 0px;
    }
    #lower ul li {
        display: inline-block;
        background: #111;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin: 0px 5px;
        transition: 200ms;
    }
    body {
        background: #111;
    }
    #lower ul li:hover {
        background: #000;
    }
    #lower ul li img {
        width: 25px;
        margin-top: 15px;
    }
    #developedBy {
        display: none;
    }
#footer {
    bottom: 20px;
    margin-left: 2%;
    width: 96%;
    color: #B31325;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0px;
    background: #000;
    position: relative;
    margin-top: 70px;
    margin-bottom: 20px;
}
}
